body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f7fc;
}

h1 {
  color: #1e3a8a;
}



ul {
  margin-top: 20px;
}
.footer{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background: #1e3a8a;
}

.navbar h2 {
    color: white;
    margin: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 18px;
    font-weight: bold;
}

.menu a:hover {
    color: #ffd54f;
}
.login-container{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#2563eb,#60a5fa);
}

.login-card{
    background:white;
    width:380px;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
    text-align:center;
}

.login-card h1{
    color:#1e3a8a;
    font-size:24px;
    margin-bottom:10px;
}

.login-card h2{
    margin-bottom:20px;
}

.login-card input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:16px;
}

.login-card button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
    margin-top:10px;
}

.login-card button:hover{
    background:#1e40af;
}

.login-card p{
    margin-top:15px;
}

.login-card a{
    color:#2563eb;
    text-decoration:none;
    font-weight:bold;
}